@import '~@fluentui/react/dist/sass/References.scss';

.annoucments {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}
.headingStyle {
  background-color: #5A2A82;
  padding: 5px 5px;
  position: sticky;
}

.headingText {
  color: #FFF;
  margin-left: 25px;
  display: inline-block !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  width: 100% !important;
 
}

.alingButtons {
  display: flex;
  align-items: center; /* or 'flex-end' if you want to align to the end */
}
.welcomeImage {
  width: 25%;
  border-radius: 10px;
  max-width: 100px;
  height: 100%;
}
.box{
  display: flex;
  flex-direction: row;
  width:100%;
  height: 120px;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 2px #dddd;
  border-radius: 10px;
}
.contactStack {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
  width: 100%;
}


/* width */
.contactStack::-webkit-scrollbar {
  width: 5px;
  
}
.box2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color : #5a2a82;
  height: 70px;
  // justify-content: space-evenly;
  padding: 10px;
 // margin-top: 20px;
 
  border-radius: 10px;
}
.insideModal{
  padding:20px
}
.dragDropFile{
         width: 100%;
        border: 2px dashed  #5a2a82; // Add border to the entire drop zone
        padding: 20px, // Add padding for spacing
}
.defaultButton{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: right;// Space between Edit and Cancel
  //width: 90%;// Take up the full width
}
.inputSection{
  
    display: flex;
    flex-direction: column;
    align-items: center; // Center items horizontally
  
}
.iconButton {
  font-size: 180px;
  color: #5A2A82;
 // background-color: #ffffff;
  padding: 5px;
  margin-left: 7px;
 // box-shadow: 0 0 5px #5A2A82;
  //transition: all 0.3s; /* Adjust the duration as needed */
}
.chooseBtn{
  padding: 10px;
  background-color:#5A2A82;
}
.cancelBtn{
  margin-left: 10px;
 
}
.boxicons{
  width: 400px;
}
.title{
  margin-left:20px;
  margin-top:5px;
}
.body {
  width: 70%;
  height: 100%;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  text-overflow: ellipsis;
 // color: "[theme: themePrimary, default: #5A2A82]";
}
.wrap{
  width: 70%;
  height: 100%;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  text-overflow: ellipsis;
}
.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}